# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
out/

# OS
.DS_Store
*.log

# Spring local config & secrets
src/main/resources/application.properties
src/main/resources/application.yml
*.keystore
*.jks
*.p12
*.pem
